/**/
.titulo{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#005B9C;
}

.titulo-branco{
	font-family:candara;
	font-size:14px;
	color:#FFF;
}

.tabela{
	font-family:arial;
	font-size:15px;
	color:#333;
	margin:2px 1px 1px 2px;
}

/*H3 das páginas*/

.universal{
	font:arial;
	font-size:25px;
	color:#005B9C;
	font-weight:100;
}

/*Conteudo dentro das tabelas do planejamento*/
.planejamento{
	font-family:arial;
	font-size:13px;
	color:#333;
	margin:2px 1px 1px 2px;
}

p{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#333333;
	margin:2px 1px 1px 2px;
}